{{#if title}}
	<h1 class="title">{{title}}</h1>
{{/if}}

<i class="icon-food icon-background"></i>

{{#if todaysMeatDish}}
	<h3>Carne</h3>
	<h4>{{todaysMeatDish}}</h4>
	<br>
{{/if}}

{{#if todaysFishDish}}
	<h3>Peixe</h3>
	<h4>{{todaysFishDish}}</h4>
	<br>
{{/if}}

{{#if subTitle}}
	<h1 class="subTitle">{{subTitle}}</h1>
{{/if}}

{{#if tomorrowsFishDish}}
	<h5>Carne: {{tomorrowsMeatDish}}</h5>
{{/if}}

{{#if tomorrowsFishDish}}
	<h5>Peixe: {{tomorrowsFishDish}}</h5>
{{/if}}
	<br>
{{view Dashboard.LastUpdatedView}}
